#!/usr/bin/env ruby
# -*- coding: utf-8 -*-

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

compile '/stylesheet/' do
  # don’t filter or layout
end

compile '/posts/*' do
  filter :kramdown
  filter :colorize_syntax

  layout 'default'
end

compile '/feed/' do
  filter :eval
end

compile '*' do
  filter :erb
  layout 'default'
end

route '/stylesheet/' do
  '/style.css'
end

route '/posts/*' do
  "/posts/#{File.basename(item.identifier)}.html"
end

route '/feed/' do
  "/feed.atom"
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :erb
